header {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: relative;
}

.menu-btn {
    background: transparent;
    border: 0;
    width: auto;
    padding: 0;
    margin-right: 20px;
}

.fa-bars {
    font-size: 2em;
}