nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    display: inline-block;
    padding: 0 10px 0 0;
}

nav ul a {
    text-decoration: none;
}

nav button {
    width: 100%;
}

.cta {
    font-weight: bold;
}

.lg-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 10px 0;
}

.lg-menu div {
    flex-grow: 1;
}

.login-links ul {
    justify-content: flex-end;
}

.login {
    background-color:#fff;
    border: 1px solid #00b6ff;
    color: #00b6ff;
}

.signup {
    background-color: #00b6ff;
    color: var(--main-txt);
}

@media (max-width: 200px) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 552px) {

    nav ul {
        flex-direction: column;
        align-items: unset;
    }

    nav li {
        padding: 10px;
    }

    nav li:not(.no-hover):hover {
        background-color: #e8e8e8;
    }

    .lg-menu {
        display: none;
    }

    .login-links {
        background-color: #cfffbb;
    }
}