nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 140px;
    height: 190px;
}

nav ul a {
    text-decoration: none;
}

.lg-menu {
    display: initial;
}

@media (max-width: 200px) {
    html {
        font-size: 20%;
    }

    nav ul {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .lg-menu {
        display: none;
    }
}