nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    display: inline-block;
    padding: 0 10px 0 0;
    position: relative;
}

nav li::after {
    content: '';
    border-bottom: 2px solid var(--btnHover);
    position: absolute;
    bottom: -1px;
    left: calc(50% - 5px);
    transition: all .3s;
    width: 0;
    transform: translateX(-50%);
}

nav li:hover::after {
    width: 90%;
    transition: all .3s;
}

nav ul a {
    text-decoration: none;
}

nav li a:hover {
    color: var(--btnHover);
}

nav button {
    width: 100%;
}

.cta {
    font-weight: bold;
}

.lg-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 10px 0;
}

.lg-menu div {
    flex-grow: 1;
}

.login-links ul {
    justify-content: flex-end;
}

.login {
    background-color:#fff;
    border: 1px solid var(--secondary-txt);
    color: var(--secondary-txt);
}

.signup {
    color: var(--main-txt);
}

@media (max-width: 200px) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 552px) {

    nav ul {
        flex-direction: column;
        align-items: unset;
    }

    nav li {
        padding: 10px;
    }

    nav li:not(.no-hover):hover {
        background-color: #e8e8e8;
    }

    .lg-menu {
        display: none;
    }

    .login-links {
        background-color: #cfffbb;
    }
}