.overlay {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    width: 200px;
    height: auto;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 56px;
    display: none;
}

.sm-menu {
    display: none;
}

.sm-menu div {
    padding: 0 10px;
}

@media (max-width: 552px) {
    .overlay {
        display: initial;
    }

    .sm-menu {
        display: initial;
    }
}
