.overlay {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    width: 200px;
    height: auto;
    position: absolute;
    right: 0;
    top: 56px;
    display: none;
}

.sm-menu {
    display: none;
}

.sm-menu div {

}

@media (max-width: 552px) {
    .overlay {
        display: initial;
        z-index: 1;
    }

    .sm-menu {
        display: initial;
    }
}
